body {
	font-size: 12px;
	background-color: #aaa;
}

.container {
	width: 7.5in;
	padding: .2in .4in;
	background-color: #fff;
	box-shadow: 0 0 1em 0 #333;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.27em;
	border-width: 0 0 1px 0;
	border-style: solid;

	-webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#333), to(rgba(0, 0, 0, 0))) 100% 1;
	-webkit-border-image: -webkit-linear-gradient(top, #333, rgba(0, 0, 0, 0)) 100% 1;
	-o-border-image: -o-linear-gradient(top, #333, rgba(0, 0, 0, 0)) 100% 1;
	-moz-border-image: -moz-linear-gradient(top, #333, rgba(0, 0, 0, 0)) 100% 1;
}

h4 {
	font-size: 1.04em;
	margin: 0;
}

.centered {
	text-align: center;
}

.tabbed {
	margin-left: 50px;
}

.dashed {
	border-top: 1px dashed #555;
	margin-top: 10px;
}

hr.big {
	border-bottom: 2px solid;
}

.section-edu {
	margin-bottom: 1em;
}

.amp {
	font-family: 'Baskerville';
	font-style: italic;
}

.amp:before {
	content: '&';
}